<html>
    <body>
        <h1>Add Record</h1>
        <a href="/display2">Display</a>
        <form method="POST" action="student-process">

            Enrolment  : <input type="text" name="txt1" required>
            Name  : <input type="text" name="txt2" required>
            Number  : <input type="text" name="txt3" required>
            Email  : <input type="text" name="txt4" required>
            Clg  : <input type="text" name="txt5" required>
            <input  type="submit"/>

        </form>
    </body>
</html>